@import "tailwindcss";

:root {
  --background: #fafafa;
  --pattern-bg: #ffffff;
  --pattern-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cccccc' fill-opacity='0.24' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  --text: black;
  --desc: black;
  --btn: white;
  --text-gradient: linear-gradient(to right, #0c7986, #d1dfe8, #616060);
  --glass-bg: rgba(255, 255, 255, 0.2);
  --glass-radius: 16px;
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --glass-blur: blur(5px);
  --glass-border: 1px solid rgba(255, 255, 255, 0.3);
}

@theme {
  --color-background: var(--background);
  --background-color: var(--pattern-bg);
  --background-image: var(--pattern-image);
  --color-text: var(--text);
  --color-desc: var(--desc);
  --color-btn: var(--btn);
  --color-title: var(--text-gradient);
  --glass-bg: var(--glass-bg);
  --glass-radius: var(--glass-radius);
  --glass-shadow: var(--glass-shadow);
  --glass-blur: var(--glass-blur);
  --glass-border: var(--glass-border);
}
.dark {
  --background: #000000;
  --pattern-bg: #000000;
  --pattern-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cccccc' fill-opacity='0.24' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  --text: #616080;
  --desc: white;
  --btn: black;
  --text-gradient: linear-gradient(to right, #0c7986, #d1dfe8, #616060);
  --glass-bg: rgba(105, 90, 90, 0.2);
  --glass-radius: 1rem;
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --glass-blur: blur(4px);
  --glass-border: 1px solid rgba(105, 90, 90, 0.3);
}

@theme {
  --animate-dance: dance 0.5s ease-in-out infinite;
  @keyframes dance {
    0%, 100%: {
      transform: rotate(-10deg);
    }
    50%: {
      transform: rotate(10deg);
    }
  }
}


@utility icons{
  @apply p-2.5 rounded-full bg-[#3B82F6] text-xl text-white;
}

@utility inputs{
  @apply bg-[#E6EDF3] h-[35px] placeholder:text-sm text-sm p-2 rounded outline-none;
}